# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
web-build/

# Native build outputs
android/
ios/

# test
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# env files
.env
.env.*

# TypeScript
*.tsbuildinfo
